<div class="{{classeAlerta}}" role="alert" *ngIf="exibirAlerta">
  {{text}}
</div>
<div class="form">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome:</label>
    <input name="nome" type="text" class="form-control" [(ngModel)]="nome"  />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input name="email" type="email" class="form-control" [(ngModel)]="email" />
  </div>
  <div class="mb-3">
    <label for="celular" class="form-label">Celular:</label>
    <input name="celular" type="number" class="form-control" [(ngModel)]="celular" />
  </div>
  <div class="mb-3">
    <label for="ra" class="form-label">RA:</label>
    <input name="ra" type="number" class="form-control" [(ngModel)]="ra" />
  </div>
  <button type="button" class="btn btn-primary" (click)="cadastrarAluno()">
    Cadastrar Aluno
  </button>
</div>
