.form
{
  max-width: 37rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div{
  width: 100%;
}
button{
  width: 8rem;
}
.button-wrapper{
  display: flex;
  justify-content: space-between;
}


